/* Fondo y estructura general (igual que register) */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #cc7b45;
  overflow: hidden;
}

.login-card {
  display: flex;
  flex-direction: row;
  width: 900px;
  max-height: 90vh;
  background-color: #2e2e2e;
  border-radius: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  scrollbar-width: thin;
  scrollbar-color: #555 #2e2e2e;
}

.login-image {
  flex: 1;
  min-width: 45%;
  background-color: #1e1e1e;
}

.login-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login-form {
  flex: 1;
  padding: 60px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.login-form h2.logo {
  font-size: 28px;
  margin-bottom: 10px;
  font-weight: bold;
}

.login-form h3 {
  margin-bottom: 30px;
  color: #ccc;
  text-align: left;
}

/* Inputs */
.form-group {
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 12px 15px;
  border: none;
  border-radius: 5px;
  background-color: #3c3c3c;
  color: white;
  font-size: 15px;
}

/* Botón principal */
.btn-login {
  width: 100%;
  padding: 12px;
  background-color: #111;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-login:hover {
  background-color: #444;
}

/* Enlace inferior */
.options {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
}

.options a {
  color: #6aa3ff;
  text-decoration: none;
  border: none;
}

.options a:hover {
  text-decoration: underline;
}


